<% if @todo.errors %>
  <p><%= @todo.errors.messages.first %></p>
<% end %>

<%= form_group_tag(todo.errors[:completed]) do %>
  <div class="form-group">
    <%= f.check_box_tag :completed, check_box_tag("completed", value = "false", checked = false) %>
  </div>
  <div class="form-group">
    <%= f.submit 'Save', class: "btn btn-success" %>
  </div>
<% end %>